body{
    background-color: rgb(116, 197, 235);
}

div{
    display: grid;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
}

.user{
    place-items: center;
    row-gap: 5px;
}

.setor{
    display: flex;
    padding: 15px;
    margin: 10px;
    gap: 5px;
}

.botao{
    cursor: pointer;
}