body{
    background-color: rgb(159, 203, 221);
}

div{
    display: grid;
    justify-content: center;
}

.title{
    display: flex;
    justify-content: center;
}

.user{
    place-items: center;
}

.setor{
    display: flex;
    padding: 15px;
    margin: 10px;
}

.botao{
    cursor: pointer;
}